/* Customizations for top navigational bar */

/* TODO:
Homepage:
    Nav bar: Style editing
 */

.topnav {
  background-color: lightblue;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav li {
  display: inline;
  color: gold;
  text-decoration: none;
}

body {
  padding-top: 4.5rem;
}

.navbar {
  background-color: rgb(109, 1, 1);
}
