/* Customizations for top navigational bar */

/* TODO:
Homepage:
    Nav bar: Style editing
 */

.topnav {
  background-color: lightblue;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav li {
  display: inline;
  color: gold;
  text-decoration: none;
}

body {
  padding-top: 4.5rem;
}

.navbar {
  background-color: rgb(109, 1, 1);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Common stuff */
.picker-wrapper,
.slide-wrapper {
  position: relative;
  float: left;
}

.picker-indicator,
.slide-indicator {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.picker,
.slide {
  cursor: crosshair;
  float: left;
}

/* Default skin */
.cp-default {
  background-color: gray;
  padding: 12px;
  border-radius: 15px;
  float: left;
}

.cp-default .picker {
  width: 200px;
  height: 200px;
}

.cp-default .slide {
  width: 30px;
  height: 200px;
}

.cp-default .slide-wrapper {
  margin-left: 10px;
}

.cp-default .picker-indicator {
  width: 5px;
  height: 5px;
  border: 2px solid darkblue;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  opacity: 0.5;
  -ms-filter: "progid:dximagetransform.microsoft.alpha(opacity=50)";
  filter: progid:dximagetransform.microsoft.alpha(opacity=50);
  filter: alpha(opacity=50);
  background-color: white;
}

.cp-default .slide-indicator {
  width: 100%;
  height: 10px;
  left: -4px;
  opacity: 0.6;
  -ms-filter: "progid:dximagetransform.microsoft.alpha(opacity=60)";
  filter: progid:dximagetransform.microsoft.alpha(opacity=60);
  filter: alpha(opacity=60);
  border: 4px solid lightblue;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "moodies dailog upcoming"
    "moodies dailog upcoming"
    "moodies dailog rosethorn"
    "moodies quote rosethorn";
}

.moodies {
  grid-area: moodies;
  background-color: pink;
  justify-self: center;
  padding: 10px;
}

.dailog {
  grid-area: dailog;
  background-color: lightblue;
  justify-self: center;
  padding: 10px;
}

.upcoming {
  grid-area: upcoming;
  background-color: grey;
  justify-self: center;
  padding: 10px;
}

.quote {
  grid-area: quote;
  justify-self: center;
}

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);


.rosethorn {
  justify-self: center;
  grid-area: rosethorn;
  width:250px;
  height:240px;
  position:relative;
  background:#ffa;
  overflow: auto;
  margin:30px auto;
  padding:20px;
  border-radius:0 0 0 30px/45px;
  box-shadow:
    inset 0 -40px 40px rgba(0,0,0,0.2),
    inset 0 25px 10px rgba(0,0,0,0.2),
    0 5px 6px 5px rgba(0,0,0,0.2);
  font-family: 'Permanent Marker', cursive;
    line-height:1.7em;
    font-size:19px;
  color:#130d6b;
}

.rosethorn li {
  cursor:pointer; 
}

.rosethorn:before {
  content:"";
 display:block;
 position:absolute;
 width:20px;
 height:25px;
 background:#ffa;
 box-shadow:
   3px -2px 10px rgba(0,0,0,0.2),
   inset 15px -15px 15px rgba(0,0,0,0.3);
 left:0;
 bottom:0;
 z-index:2;
 transform:skewX(25deg);
}

.rosethorn:after {
  content:"";
 display:block;
 position:absolute;
 width:75%;
 height:20px; 
 border-radius: 50% ;
 bottom:0px;
 left:10%;
}

h1 {
  font-size:25px; 
 position:relative;
}


/* .grid div:nth-child(1) {
  background-color: pink;
} */

@media (max-width: 736px) {
  .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    grid-template-areas:
      "dailog dailog"
      "moodies moodies"
      "upcoming rosethorn"
      "quote quote";
  }
}

/* https://codepen.io/ekeric13/pen/VmdgBX */

.notebook {
  background: #fff;
  max-width: 800px;
  height: 350px;
  padding: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(270deg, #d98b8b, 2px, transparent, 2px, transparent), -webkit-linear-gradient(0deg, #d9eaf3, 1px, transparent, 2px, transparent);
  background-image: linear-gradient(90deg, #d98b8b, 2px, transparent, 2px, transparent), linear-gradient(0deg, #d9eaf3, 1px, transparent, 2px, transparent);
  background-position: 4rem 0, 0 5px;
  background-position-x: 4rem, 0;
  background-position-y: 0, 5px;
  background-size: 100% 40px;
  padding-left: 5rem;
  overflow-y: auto;
}

.notebook p {
  line-height: 38px;
  margin-bottom: 1rem;
}

.my-container {
  width: 100%;
  height: auto;
  background: #0170ad;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e4e4e4;
  margin: 3px;
  padding: 3px;
  font-size: 14px;
  font-weight: 600;
}

.todo-box button {
  color: red;
  border: hidden;
  outline: none !important;
  cursor: pointer;
}

/* clicked color of each mood icon */
.very-happy-click {
  color: white;
  background-color: green;
  border-radius: 50%;
}

.happy-click {
  color: white;
  background-color: lightgreen;
  border-radius: 50%;
}

.neutral-click {
  color: white;
  background-color: rgb(248, 248, 101);
  border-radius: 50%;
}

.sad-click {
  color: white;
  background-color: rgb(250, 188, 73);
  border-radius: 50%;
}

.very-sad-click {
  color: white;
  background-color: rgb(251, 66, 66);
  border-radius: 50%;
}
