/* Customizations for top navigational bar */

/* TODO:
Homepage:
    Nav bar: Style editing
 */

.topnav {
  background-color: lightblue;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav li {
  display: inline;
  color: gold;
  text-decoration: none;
}

body {
  padding-top: 4.5rem;
}

.navbar {
  background-color: rgb(109, 1, 1);
}

/* Common stuff */
.picker-wrapper,
.slide-wrapper {
  position: relative;
  float: left;
}

.picker-indicator,
.slide-indicator {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.picker,
.slide {
  cursor: crosshair;
  float: left;
}

/* Default skin */
.cp-default {
  background-color: gray;
  padding: 12px;
  border-radius: 15px;
  float: left;
}

.cp-default .picker {
  width: 200px;
  height: 200px;
}

.cp-default .slide {
  width: 30px;
  height: 200px;
}

.cp-default .slide-wrapper {
  margin-left: 10px;
}

.cp-default .picker-indicator {
  width: 5px;
  height: 5px;
  border: 2px solid darkblue;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  opacity: 0.5;
  -ms-filter: "progid:dximagetransform.microsoft.alpha(opacity=50)";
  filter: progid:dximagetransform.microsoft.alpha(opacity=50);
  filter: alpha(opacity=50);
  background-color: white;
}

.cp-default .slide-indicator {
  width: 100%;
  height: 10px;
  left: -4px;
  opacity: 0.6;
  -ms-filter: "progid:dximagetransform.microsoft.alpha(opacity=60)";
  filter: progid:dximagetransform.microsoft.alpha(opacity=60);
  filter: alpha(opacity=60);
  border: 4px solid lightblue;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
}
/**
Style for progress bar
*/
#progress{
  height: 15px;
  background-color:black;
  position: relative;
  border-radius: 20px;
  margin:15px;
  width: 650px;
  max-width: 100%;
}

#progress #progress-bar{
  position: absolute;
  border-radius: 20px;
  height: 100%;
  background-color:gold;
  width: 0;
  transition: width 1s ease-in;
}