/* background color of page */
body {
    background-color: lightblue;
}

/* page title */
h1 {
    text-align: center;
}

/* sizing mood icons */
.material-icons.md-48 {
    font-size: 48px;
}
.material-icons-outlined.md-48 {
    font-size: 48px;
}

/* pointer cursor when hover over moods */
.material-icons:hover {
    cursor: pointer;
}
.material-icons-outlined:hover {
    cursor: pointer;
}

/* default color of each mood icon */
.very-happy {
    color:green;
}
.happy {
    color:lightgreen;
}
.neutral {
    color:yellow;
}
.sad {
    color:orange;
}
.very-sad {
    color:red;
}

/* clicked color of each mood icon */
.very-happy-click {
    color: white;
    background-color: green;
    border-radius: 50%;
}
.happy-click {
    color: white;
    background-color:lightgreen;
    border-radius: 50%;
}
.neutral-click {
    color: white;
    background-color:yellow;
    border-radius: 50%;
}
.sad-click {
    color: white;
    background-color:orange;
    border-radius: 50%;
}
.very-sad-click {
    color: white;
    background-color:red;
    border-radius: 50%;
}

/* display year's boxes as grid */
#year-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
                           1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
                           1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
                           1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* center first row of days in grid */
.day-label {
    text-align: center;
}

/* boarder for all mood boxes */
.empty-mood {
    border: 1px solid rgba(0, 0, 0, 0.8);
}

/* outlines the current day */
.curr-day {
    border: 3px solid rgba(0, 0, 0, 0.8);
}
