#progress{
    height: 15px;
    background-color:black;
    position: relative;
    border-radius: 20px;
    margin:15px;
    width: 650px;
    max-width: 100%;
}

#progress #progress-bar{
    position: absolute;
    border-radius: 20px;
    height: 100%;
    background-color:gold;
    width: 0;
    transition: width 1s ease-in;
}
